<div id="personal">
  <ul class="social">
      <li>I put my code on <a href="https://github.com/jgtr">GitHub</a></li>
      <li>I hang mostly on <a href="https://www.facebook.com/jordan.g.trevino">Facebook</a> and <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a></li>
      <li>My non-technical blog is viewable on <a href="http://www.jordantrevino.com" title="wordpress">my wordpress blog</a></li>
      <li>I learned at <a href="http://flatironschool.com" title="Flatiron School">Flatiron School</a></li>
      <li>I graduated from <a href="http://www.yaleuniversity.com" title = "Yale University">Yale University</a></li>
  </ul>
  <br style="clear:both;">

</div>
